[submodule "spicesharp"]
	path = libs/SpiceSharp
	url = https://github.com/SpiceSharp/SpiceSharp.git
	
[submodule "spicesharpb"]
	path = libs/SpiceSharpBehavioral
	url = https://github.com/SpiceSharp/SpiceSharpBehavioral.git
	
[submodule "spicesharpp"]
	path = libs/SpiceSharpParser
	url = https://github.com/SpiceSharp/SpiceSharpParser.git